* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}

h3 {
  margin: 0;
  padding-top: 8px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-bottom: 10px;
}

/* #api-flores {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#description {
  width: 450px;
}

#name {
  font-weight: 900;
}

img {
  width: 450px; 
  height: 280px
}

.style-li {
	display: flex;
	justify-content: space-between;
}

/* .button-ver {
	background-color: rgba(219, 39, 119, .9);
  outline: none;
  border: none;
}

.button-ver:hover {
  background-color: purple;
  font-weight: 700;
  cursor: pointer;
}

.button-ver:focus {
  color: purple;
  font-weight: 600;
  border:2px solid purple;
}

.button-ver:active {
  color: purple;
  font-weight: 700;
} */

#api-select {
  width: 170px;
  height: 35px;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  border: 2px solid purple;
  border-radius: 8px;
  padding: 0 5px;
}

ul {
  padding: 0;
}

li {
  width: 320px;
}

@media screen and (max-width: 485px) {
  #main {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  img {
    width: 100%;
    height: 210px;
  }

  #description {
    width: 90%;
  }

  li {
    width: 100%;
  }
}
